.welcome-div{
  min-height:600px;
  background-image: linear-gradient(rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 0.8)), url("img/stickers.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.welcome{
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
}
.welcome-header{
  padding-top: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  /*padding-bottom: 1rem;*/
}
@media (min-width: 768px) {
  .welcome-img{
    padding-left: 25px;
  }
}
.welcome-img{
  padding-top: 25px;
}
.btn-round {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: white;
  font-family: 'Rubik', sans-serif;
  background: #007bff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 15px 30px;
}

.btn-round:hover {
  background: #0062CC;
  text-decoration: none;
}
.welcome-btn{
  padding-top: 100px;
  padding-bottom: 50px;
}
.navbar-div{
  padding-right: calc(10% + 35px);
}
@media (min-width: 1000px) {
  .navbar-div{
    padding-right: 130px;
  }
}
@media (min-width: 1050px) {
  .navbar-div{
    padding-right: 135px;
  }
}
@media (max-width: 600px) {
  .navbar-div{
    padding-right: 92px;
  }
}
@media(max-width: 397px) {
  .navbar-div{
    display: none;
  }
  .custom-navbar-brand {
    justify-content: start;
  }
}
